<!-- public/about.html -->
{% extends "layout.html" %}

{% block content %}
    <div class="body-content">
        <div class="row">
            <h1>{{ _('About') }}</h1>
            <p>
                {{ _('Under construction. Please refer to our <a href="https://github.com/libris/\
xl_auth/issues">GitHub repo</a> for ongoing progress.') }}
            </p>
            <p>
                {{ _('Current release version is <code>%(version)s</code>. Please check out \
the <a href="https://github.com/libris/xl_auth/releases">releases overview</a> page for \
recent changes.', version=version) }}
            </p>
        </div>
    </div>
{% endblock %}
