<!-- public/forgot_password_form.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Request Password Reset') }}</h1>
        <br/>
        <form id="forgotPasswordForm" class="form form-edit" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{ forgot_password_form.username.label }}
                {{ forgot_password_form.username(placeholder=_('user@example.com'), class_="form-control") }}
            </div>
            <p><input class="btn btn-primary btn-submit" type="submit"
                      value="{{ _('Send activation code to my email') }}"></p>
        </form>
    </div>
{% endblock %}
