<!-- public/home.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="body-content">
        <div class="row">
            {% if current_user and current_user.is_authenticated %}
                <div class="col-md-12">
                    <h1>{{ _('Welcome to xl_auth') }}</h1>
                    <p>
                        {{ _('This is an early beta release of Libris authorization service.') }}
                    </p>
                    <p>
                        {{ _('See email from customer service for instructions.') }}
                    </p>
                </div>
            {% elif login_form %}
                <div class="col-md-12 login-panel panel panel-default">
                    <div class="col-md-8">
                        <div class="header">
                            <div class="logo-small logotype logotype-black">
                            </div>
                            <h2>
                                {{ _('xl_auth') }}
                            </h2>
                        </div>
                        <p>
                            {{ _('This is an early beta release of Libris authorization service.') }}
                        </p>
                        <p>
                            {{ _('See email from customer service for instructions.') }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>{{ _('Log in') }}</h2>
                        <form id="loginForm" method="POST" class="" action="/" role="login">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            {{ login_form.next_redirect(value=next_redirect_url or "") }}
                            <div class="form-group login-form">
                                <label for="username">{{ _('Username') }}</label>
                                {{ login_form.username(placeholder="user@example.com", class_="form-control") }}
                                <label for="password">{{ _('Password') }}</label>
                                {{ login_form.password(placeholder="********", class_="form-control") }}
                                <button type="submit" class="btn btn-default">{{ _('Log in') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-6">
                <h2><i class="fa fa-rss"></i> {{ _('The Libris blog') }}</h2>
                <p>{{ _('Read the latest news about the Libris collaboration.') }}</p>
                <p><a class="btn btn-default" href="http://librisbloggen.kb.se/">{{ _('Go to the blog') }}</a></p>
            </div>
            <div class="col-md-6">
                <h2><i class="fa fa-comment"></i> {{ _('Support forum') }}</h2>
                <p>{{ _('Get help, ask questions and report errors.') }}</p>
                <p><a href="https://kundo.se/org/librisxl/" class="btn btn-default">{{ _('Go to kundo') }}</a></p>
            </div>
        </div><!-- /.row -->
    </div>
{% endblock %}
