<!-- public/reset_password.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Reset Password') }}</h1>
        <br>
        <form id="resetPasswordForm" class="form form-edit" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ reset_password_form.code(value=code) }}
            <div class="form-group">
                {{ reset_password_form.username.label }}
                {{ reset_password_form.username(value=email, class_="form-control", readonly=True) }}
            </div>
            <div class="form-group">
                {{ reset_password_form.password.label }}
                {{ reset_password_form.password(placeholder=_('Password'), class_="form-control") }}
            </div>
            <div class="form-group">
                {{ reset_password_form.confirm.label }}
                {{ reset_password_form.confirm(placeholder=_('Password (again)'), class_="form-control") }}
            </div>
            <p><input class="btn btn-primary btn-submit" type="submit" value="{{ _('Save') }}"></p>
        </form>
    </div>
{% endblock %}
