<!-- oauth/client/edit.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Edit OAuth2 Client') }}</h1>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ _('OAuth2 Client Credentials') }}</strong>
            </div>
            <p>
                {{ _('Client ID') }}:<br/>
                <code>{{ client.client_id }}</code>
            </p>
            <p>
                {{ _('Client Secret') }}:<br/>
                <code style="word-break: break-all;">{{ client.client_secret }}</code>
            </p>
        </div>
        <form id="editForm" class="form form-edit" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{ edit_form.name.label }}
                {{ edit_form.name(placeholder=_('Client name'), class_="form-control") }}
            </div>
            <div class="form-group">
                {{ edit_form.description.label }}
                {{ edit_form.description(placeholder=_('Client description'), class_="form-control") }}
            </div>
            <div class="form-group">
                <label class="checkbox">
                    {{ edit_form.is_confidential() }}
                    {{ edit_form.is_confidential.label }}
                </label>
            </div>
            <div class="form-group">
                {{ edit_form.redirect_uris.label }}
                {{ edit_form.redirect_uris(placeholder=_('Redirect URIs'), class_="form-control") }}
            </div>
            <div class="form-group">
                {{ edit_form.default_scopes.label }}
                {{ edit_form.default_scopes(placeholder="read write", class_="form-control") }}
            </div>
            <p><input class="btn btn-primary btn-submit" type="submit" value="{{ _('Save') }}"></p>
        </form>
    </div>
{% endblock %}
