*.py[cod]

# Packages
*.egg
*.egg-info
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
*junit.xml

# Mr Developer
.idea/
.mr.developer.cfg
.project
.pydevproject
dev.db

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build/

.webassets-cache

# Virtualenvs
venv/
py27venv/
py36venv/

# npm
node_modules/

# webpack-built files
xl_auth/static/build/
xl_auth/webpack/manifest.json
