---

- name: read data for creating xl_auth secret
  shell: "cat /etc/pki/tls/private/{{ inventory_hostname }}.key"
  changed_when: no
  register: ssh_key_contents
  tags: xl_auth

- name: start postgres
  docker_container:
    name: postgres
    image: postgres:9.4-alpine
    state: started
    restart_policy: unless-stopped
    volume_driver: local
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    env:
      POSTGRES_DB: prod
      POSTGRES_USER: xl_auth
      POSTGRES_PASSWORD: xl_auth
  tags: xl_auth

- name: start xl_auth
  docker_container:
    name: xl_auth
    image: "{{ xl_auth_docker }}"
    pull: yes
    command: run -h 0.0.0.0 -p 5000 --with-threads
    state: started
    restart_policy: unless-stopped
    links:
      - postgres
    ports:
      - 5000:5000
    env:
      SERVER_NAME: "{{ inventory_hostname }}"
      XL_AUTH_SECRET: "{{ ssh_key_contents.stdout | hash('md5') }}"
      PREFERRED_URL_SCHEME: https
      FLASK_DEBUG: 0
      SQLALCHEMY_DATABASE_URI: postgresql://xl_auth:xl_auth@postgres/prod
      OAUTH2_PROVIDER_TOKEN_EXPIRES_IN: 3600
  register: start_xl_auth
  tags: xl_auth

- name: run 'flask db upgrade'
  docker_container:
    name: xl_auth_db_upgrade
    image: "{{ xl_auth_docker }}"
    interactive: yes
    tty: yes
    detach: no
    command: db upgrade
    links:
      - postgres
    env:
      FLASK_DEBUG: 0
      SQLALCHEMY_DATABASE_URI: postgresql://xl_auth:xl_auth@postgres/prod
  when: start_xl_auth.changed
  tags: xl_auth

- name: run 'flask create_user -e libris@kb.se -p <my-secret> --is-active --is-admin --force'
  docker_container:
    name: xl_auth_create_user
    image: "{{ xl_auth_docker }}"
    interactive: yes
    tty: yes
    detach: no
    command: "create_user -e libris@kb.se -n SuperAdmin -p {{ xl_auth_admin_pass }} --is-active
             --is-admin --force"
    links:
      - postgres
    env:
      FLASK_DEBUG: 0
      SQLALCHEMY_DATABASE_URI: postgresql://xl_auth:xl_auth@postgres/prod
  when: xl_auth_admin_pass | length
  tags: xl_auth

- name: run 'flask import_data'
  docker_container:
    name: xl_auth_import_data
    image: "{{ xl_auth_docker }}"
    interactive: yes
    tty: yes
    detach: no
    command: "import_data --verbose --admin-email libris@kb.se --wipe-permissions
             --send-password-resets"
    links:
      - postgres
    env:
      SERVER_NAME: "{{ inventory_hostname }}"
      PREFERRED_URL_SCHEME: https
      FLASK_DEBUG: 0
      SQLALCHEMY_DATABASE_URI: postgresql://xl_auth:xl_auth@postgres/prod
  when: xl_auth_force_import or start_xl_auth.changed
  tags: xl_auth

...
