<!-- collections/home.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>{{ _('Collections') }}</h1>
    <br/>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <strong>{{ _('Existing Collections') }}</strong>
            <a class="btn btn-xs btn-primary pull-right"
               href="{{ url_for('collection.register') }}">{{ _('New Collection') }}</a>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ _('Code') }}</th>
                <th>{{ _('Friendly Name') }}</th>
                <th>{{ _('Category') }}</th>
                <th>{{ _('Users') }}</th>
                <th>{{ _('Active') }}</th>
                <th>{{ _('Created At') }}</th>
                <th>{{ _('Actions') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in collections_list %}
                <tr class="{{ 'tooltip' if (item.replaces or item.replaced_by) }}"
                    title="{{ item.get_replaces_and_replaced_by_str() }}">
                    <td>{{ item.code }}</td>
                    <td>{{ item.friendly_name }}</td>
                    <td>{{ _(item.category.capitalize()) if item.category in ['bibliography', 'library'] else _('No category') }}</td>
                    <td>{{ item.permissions | length }}</td>
                    <td>{{ item.active }}</td>
                    <td>{{ item.created_at.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <a class="btn btn-default"
                           href="{{ url_for('collection.edit', collection_code=item.code) }}">
                            {{ _('Edit') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
