<!-- collections/inspect.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>{{ _('View Collection \'%(code)s\'', code=collection.code) }}</h1>
    <br>
    <div class="panel panel-default">
        <dl class="dl-horizontal">
            <dt>{{ _('Active') }}:</dt>
            <dd>{{ _('Yes') if collection.is_active else _('No') }}</dd>

            <dt>{{ _('Replaces') }}:</dt>
            <dd>
                {% if collection.replaces %}
                    <a title="{{ _('View') }}"
                       href="{{ url_for('collection.view', collection_code=collection.replaces) }}">
                        {{ collection.replaces }}
                    </a>
                {% else %}
                    -
                {% endif %}
            </dd>

            <dt>{{ _('Replaced By') }}:</dt>
            <dd>
                {% if collection.replaced_by %}
                    <a title="{{ _('View') }}"
                       href="{{ url_for('collection.view', collection_code=collection.replaced_by) }}">
                        {{ collection.replaced_by }}
                    </a>
                {% else %}
                    -
                {% endif %}
            </dd>

            <dt>{{ _('Cataloging Admins') }}:</dt>
            <dd>
                {% for permission in collection.permissions | selectattr('cataloging_admin')
                        | sort(attribute='created_at') %}
                    <a href="{{ url_for('user.view', user_id=permission.user.id) }}"
                    >{{ permission.user.email }}</a>{{ _(' and ') if loop.revindex == 2
                        else (', ' if not loop.last) }}
                {% else %}
                    <em>{{ _('None registered, please contact libris@kb.se to create one.') }}</em>
                {% endfor %}
            </dd>

            {% if current_user.is_admin or current_user.is_cataloging_admin %}
                <dt>{{ _('Last Modified') }}:</dt>
                <dd>
                    {{ collection.modified_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}, {{ _('by') }}
                    <a href="{{ url_for('user.view', user_id=collection.modified_by.id) }}">
                        {{ collection.modified_by.full_name }}
                    </a>
                </dd>

                <dt>{{ _('Created At') }}:</dt>
                <dd>
                    {{ collection.created_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}, {{ _('by') }}
                    <a href="{{ url_for('user.view', user_id=collection.created_by.id) }}">
                        {{ collection.created_by.full_name }}
                    </a>
                </dd>
            {% endif %}
        </dl>
    </div>
    {% if current_user.is_admin or current_user.is_cataloging_admin
            or current_user.has_any_permission_for(collection) %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ _('Permissions') }}</strong>
                {% if collection.get_permissions_label_help_text_as_seen_by(current_user) %}
                    <span>
                        ({{ collection.get_permissions_label_help_text_as_seen_by(current_user) }})
                    </span>
                {% endif %}
                {% if current_user.is_admin or current_user.is_cataloging_admin_for(collection) %}
                    <a class="btn btn-xs btn-primary pull-right"
                       href="{{ url_for('permission.register', collection_id=collection.id)
                                + '?next=' + url_for('collection.view',
                                                     collection_code=collection.code) }}">
                        {{ _('New Permission') }}
                    </a>
                {% endif %}
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-2">{{ _('User') }}</th>
                    <th class="col-md-3 word-break-all">{{ _('Registrant') }}</th>
                    <th class="col-md-2 word-break-all">{{ _('Cataloger') }}</th>
                    <th class="col-md-3 word-break-all">{{ _('Cataloging Admin') }}</th>
                    <th class="col-md-2">{{ _('Created At') }}</th>
                    <th class="min-width-70px"></th>
                </tr>
                </thead>
                <tbody>
                {% for permission in collection.get_permissions_as_seen_by(current_user)
                        | sort(attribute='created_at') %}
                    <tr>
                        <td class="word-break-all">
                            <a href="{{ url_for('user.view', user_id=permission.user.id) }}">
                                {{ permission.user.email }}
                            </a>
                        </td>
                        <td class="{{ "bool-value-{}".format(permission.registrant).lower() }}">
                            {{ _('Yes') if permission.registrant else _('No') }}
                        </td>
                        <td class="{{ "bool-value-{}".format(permission.cataloger).lower() }}">
                            {{ _('Yes') if permission.cataloger else _('No') }}
                        </td>
                        <td class="{{ "bool-value-{}".format(permission.cataloging_admin).lower() }}">
                            {{ _('Yes') if permission.cataloging_admin else _('No') }}
                        </td>
                        <td>{{ permission.created_at.strftime('%y-%m-%d') }}, {{ _('by') }}
                            <a href="{{ url_for('user.view', user_id=permission.created_by.id) }}">
                                {{ permission.created_by.full_name }}
                            </a>
                        </td>
                        <td class="actions">
                            {% if current_user.is_admin or current_user.is_cataloging_admin_for(collection) %}
                                <a class="btn btn-xs btn-default" title="{{ _('Edit') }}"
                                   href="{{ url_for('permission.edit', permission_id=permission.id)
                                            + '?next=' + url_for('collection.view',
                                                                 collection_code=collection.code) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-xs btn-danger"
                                   title="{{ _('Delete Permission') }}"
                                   href="{{ url_for('permission.delete', permission_id=permission.id)
                                            + '?next=' + url_for('collection.view',
                                                                 collection_code=collection.code) }}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
