<!-- nav.html -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-logo" href="{{ url_for('public.home') }}" role="presentation" tabindex="-1">
                <div class="logo-small logotype logotype-white">
                </div>
            </a>
            <a class="navbar-brand" href="{{ url_for('public.home') }}">
                {{ _('xl_auth') }}
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a class="navbar-link" href="{{ url_for('collection.home') }}">{{ _('Collections') }}</a></li>
                {% if current_user.is_admin %}
                <li><a class="navbar-link" href="{{ url_for('user.home') }}">{{ _('Users') }}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-link" href="{{ url_for('user.profile') }}">
                        <img class="navbar-user-gravatar hidden-xs" alt="gravatar"
                             src="{{ current_user.get_gravatar_url(32) }}" />
                        <span>{{ current_user.full_name }}</span>
                    </a>
                </li>
                <li>
                    <a class="navbar-link" title="{{ _('Log out') }}" href="{{ url_for('public.logout') }}">
                        <i class="fa fa-sign-out-alt hidden-xs"></i>
                        <span class="hidden-sm">{{ _('Log out') }}</span>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
