<!-- clients/home.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>{{ _('OAuth2 Clients') }}</h1>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{ _('OAuth2 Clients') }}</strong>
            {% if current_user.is_admin %}
                <a class="btn btn-xs btn-primary pull-right"
                   href="{{ url_for('client.register') }}">{{ _('New Client') }}</a>
            {% endif %}
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-3">{{ _('Name') }}</th>
                <th class="col-md-3">{{ _('Description') }}</th>
                <th class="col-md-3">{{ _('Confidential') }}</th>
                <th class="col-md-1">{{ _('Admin') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td class="word-break-all">{{ client.name }}</td>
                    <td>{{ client.description }}</td>
                    {% if client.is_confidential %}
                        <td>{{ _('Yes') }}</td>
                    {% else %}
                        <td>{{ _('No') }}</td>
                    {% endif %}
                    {% if current_user.is_admin %}
                        <td class="actions">
                            <a title="{{ _('Edit') }}"
                               href="{{ url_for('client.edit', client_id=client.client_id) }}">
                                <i class="fa fa-pencil"></i>
                            </a>

                            <a class="btn btn-xs btn-danger pull-right" title="{{ _('Delete') }}"
                               href="{{ url_for('client.delete', client_id=client.client_id) }}">
                               {{ _('Delete client') }}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
