<!-- client/register.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Register New OAuth2 Client') }}</h1>
        <br/>
        <form id="registerForm" class="form form-register" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{ register_form.name.label }}
                {{ register_form.name(placeholder="Client name", class_="form-control") }}
            </div>
            <div class="form-group">
                {{ register_form.description.label }}
                {{ register_form.description(placeholder="Client description", class_="form-control") }}
            </div>
            <div class="form-group">
                <label class="checkbox">
                    {{ register_form.is_confidential() }}
                    {{ register_form.is_confidential.label }}
                </label>
            </div>
            <div class="form-group">
                {{ register_form.redirect_uris.label }}
                {{ register_form.redirect_uris(placeholder="Redirect URIs", class_="form-control") }}
            </div>
            <div class="form-group">
                {{ register_form.default_scopes.label }}
                {{ register_form.default_scopes(placeholder="read write", class_="form-control") }}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Create"></p>
        </form>
    </div>
{% endblock %}
