# -*- coding: utf-8 -*-

server {
    listen         80;
    server_name    _;
    server_tokens  off;

    location / {
        return  301 https://{{ inventory_hostname }}$request_uri;
    }
}

server {
    listen         443 default_server;
    server_name    {{ inventory_hostname }};
    server_tokens  off;
    charset        utf-8;
    gzip           on;

    ssl                  on;
    ssl_certificate      /etc/pki/tls/certs/{{ inventory_hostname }}.pem;
    ssl_certificate_key  /etc/pki/tls/private/{{ inventory_hostname }}.key;

    proxy_set_header  Host $host;
    proxy_set_header  X-Real-IP $remote_addr;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;

    location / {
        proxy_pass  http://127.0.0.1:{{ upstream_port }};
    }

    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;
}
