<!-- oauth/authorize.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Authorization Request') }}</h1>
        <p class="lead">{{ _('OAuth2 client "%(name)s (%(description)s)" is \
requesting access to your account details.', name=client.name, description=client.description) }}</p>
        <p>{{ _('Press "Authorize" to approve and get redirected back to the service.') }}</p>
        <br>
        <div class="row">
            <div class="col-md-12">
                <form id="authorizeForm" class="form" method="POST" action="" role="form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    {{ authorize_form.confirm() }}
                    <input class="btn btn-lg btn-primary btn-success" type="submit"
                           value="{{ _('Authorize') }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
