<!-- oauth/authorize.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Share account details') }}</h1>
        <p class="lead">{{ _('%(name)s %(description)s needs access to your account details.',
            name=client.name, description=client.description) }}
        {{ _('This is necessary for the service to be able to, among other things, display your email and your permissions.') }}</p>
        <br>
        <div class="row">
            <div class="col-md-12">
                <form id="authorizeForm" class="form" method="POST" action="" role="form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    {{ authorize_form.confirm() }}
                    <input class="btn btn-lg btn-primary btn-success" type="submit"
                           value="{{ _('Accept') }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
