<!-- users/administer.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Edit User Details') }}</h1>
        <br>
        <form id="administerForm" class="form form-edit" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ administer_form.next_redirect(value=next_redirect_url or "") }}
            <div class="form-group">
                {{ administer_form.username(class_="form-control", readonly=True) }}
                {{ administer_form.username.label }}
            </div>
            <div class="form-group">
                {{ administer_form.full_name.label }}
                {{ administer_form.full_name(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ administer_form.is_active.label }}
                {{ administer_form.is_active() }}
            </div>
            <div class="form-group">
                {{ administer_form.is_admin.label }}
                {{ administer_form.is_admin() }}
            </div>
            <p><input class="btn btn-primary btn-submit" type="submit" value="{{ _('Save') }}"></p>
        </form>
    </div>
{% endblock %}
