<!-- users/change_password.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Change User Password') }}</h1>
        <br/>
        <form id="changePasswordForm" class="form form-edit" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{ change_password_form.username.label }}
                {{ change_password_form.username(value=user.email, class_="form-control", readonly=True) }}
            </div>
            <div class="form-group">
                {{ change_password_form.password.label }}
                {{ change_password_form.password(placeholder="Password", class_="form-control") }}
            </div>
            <div class="form-group">
                {{ change_password_form.confirm.label }}
                {{ change_password_form.confirm(placeholder="Password (again)", class_="form-control") }}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Register"></p>
        </form>
    </div>
{% endblock %}
