<!-- users/home.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>{{ _('Users') }}</h1>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{ _('Active Users') }}</strong>
            {% if current_user.is_admin %}
                <a class="btn btn-xs btn-primary pull-right"
                   href="{{ url_for('user.register') }}">{{ _('New User') }}</a>
            {% endif %}
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-5">{{ _('Email') }}</th>
                <th class="col-md-3">{{ _('Name') }}</th>
                <th class="col-md-1">{{ _('Collections') }}</th>
                <th class="col-md-1">{{ _('Admin') }}</th>
                <th class="min-width-100px">{{ _('Created At') }}</th>
                {% if current_user.is_admin %}
                    <th class="min-width-50px"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in users_list_active %}
                <tr>
                    <td class="word-break-all">{{ user.email }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.permissions | length }}</td>
                    <td class="{{ "bool-value-{}".format(user.is_admin).lower() }}">{{ _('Yes') if user.is_admin else _('No') }}</td>
                    <td>{{ user.created_at.strftime('%y-%m-%d') }}</td>
                    {% if current_user.is_admin %}
                        <td class="actions">
                            <a title="{{ _('Edit Details') }}"
                               href="{{ url_for('user.administer', username=user.email) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a title="{{ _('Change Password') }}"
                               href="{{ url_for('user.change_password', username=user.email) }}">
                                <i class="fa fa-key"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{ _('Inactive Users') }}</strong>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-5">{{ _('Email') }}</th>
                <th class="col-md-3">{{ _('Name') }}</th>
                <th class="col-md-1">{{ _('Collections') }}</th>
                <th class="col-md-1">{{ _('Admin') }}</th>
                <th class="min-width-100px">{{ _('Created At') }}</th>
                {% if current_user.is_admin %}
                    <th class="min-width-50px"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in users_list_inactive %}
                <tr>
                    <td class="word-break-all">{{ user.email }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.permissions | length }}</td>
                    <td class="{{ "bool-value-{}".format(user.is_admin).lower() }}">{{ _('Yes') if user.is_admin else _('No') }}</td>
                    <td>{{ user.created_at.strftime('%y-%m-%d') }}</td>
                    {% if current_user.is_admin %}
                        <td class="actions">
                            <a title="{{ _('Edit Details') }}"
                               href="{{ url_for('user.administer', username=user.email) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a title="{{ _('Change Password') }}"
                               href="{{ url_for('user.change_password', username=user.email) }}">
                                <i class="fa fa-key"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
