<!-- users/home.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>{{ _('Users') }}</h1>
    <br/>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <strong>{{ _('Existing Users') }}</strong>
            <a class="btn btn-xs btn-primary pull-right"
               href="{{ url_for('public.register') }}">{{ _('New User') }}</a>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ _('Email') }}</th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Collections') }}</th>
                <th>{{ _('Active') }}</th>
                <th>{{ _('Admin') }}</th>
                <th>{{ _('Created At') }}</th>
                <th>{{ _('Actions') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users_list %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.permissions | length }}</td>
                    <td>{{ user.active }}</td>
                    <td>{{ user.is_admin }}</td>
                    <td>{{ user.created_at.strftime('%y-%m-%d %H:%M:%S') }}</td>
                    <td>
                        <a class="btn btn-default"
                           href="{{ url_for('user.edit_details', username=user.email) }}">
                            {{ _('Edit Details') }}
                        </a>
                        <a class="btn btn-default"
                           href="{{ url_for('user.change_password', username=user.email) }}">
                            {{ _('Change Password') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
