<!-- users/home.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>{{ _('Users') }}</h1>
    <br/>
    {{ _('Go to') }}:
    <ul>
        <li>
            <a href="#inactive-users">{{ _('Inactive Users') }}</a>
            ({{ inactive_users.count() }})
        </li>
    </ul>
    <hr/>
    <div class="panel panel-default">
        <a class="anchor" id="active-users"></a>
        <div class="panel-heading">
            <strong>{{ _('Active Users') }} ({{ active_users.count() }})</strong>
            {% if current_user.is_admin %}
                <a class="btn btn-xs btn-primary pull-right"
                   href="{{ url_for('user.register') + '?next=' + url_for('user.home') }}">{{ _('New User') }}</a>
            {% endif %}
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-4">{{ _('Email') }}</th>
                <th class="col-md-3">{{ _('Name') }}</th>
                <th class="col-md-1">{{ _('Collections') }}</th>
                <th class="col-md-1">{{ _('Admin') }}</th>
                <th class="min-width-90px">{{ _('Last Login At') }}</th>
                <th class="min-width-90px">{{ _('Created At') }}</th>
                {% if current_user.is_admin %}
                    <th class="min-width-100px"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in active_users %}
                <tr>
                    <td class="word-break-all">
                        <a title="{{ _('View') }}" href="{{ url_for('user.view', user_id=user.id) }}">
                            {{ user.email }}
                        </a>
                    </td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.permissions | length }}</td>
                    <td class="{{ "bool-value-{}".format(user.is_admin).lower() }}">{{ _('Yes') if user.is_admin else _('No') }}</td>
                    <td>{{ '-' if not user.last_login_at else user.last_login_at.strftime('%y-%m-%d') }}</td>
                    <td>{{ user.created_at.strftime('%y-%m-%d') }}</td>
                    {% if current_user.is_admin %}
                        <td class="actions">
                            <a class="btn btn-xs btn-default" title="{{ _('Inspect') }}"
                               href="{{ url_for('user.inspect', user_id=user.id) }}">
                                <i class="fa fa-user"></i>
                            </a>
                            <a class="btn btn-xs btn-default" title="{{ _('Edit Details') }}"
                               href="{{ url_for('user.administer', user_id=user.id)
                                        + '?next=' + url_for('user.home') }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-xs btn-default" title="{{ _('Change Password') }}"
                               href="{{ url_for('user.change_password', user_id=user.id)
                                        + '?next=' + url_for('user.home') }}">
                                <i class="fa fa-key"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    {{ _('Go to') }}:
    <ul>
        <li>
            <a href="#active-users">{{ _('Active Users') }}</a>
            ({{ active_users.count() }})
        </li>
    </ul>
    <hr/>
    <div class="panel panel-default">
        <a class="anchor" id="inactive-users"></a>
        <div class="panel-heading">
            <strong>{{ _('Inactive Users') }} ({{ inactive_users.count() }})</strong>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-4">{{ _('Email') }}</th>
                <th class="col-md-3">{{ _('Name') }}</th>
                <th class="col-md-1">{{ _('Collections') }}</th>
                <th class="col-md-1">{{ _('Admin') }}</th>
                <th class="min-width-90px">{{ _('Last Login At') }}</th>
                <th class="min-width-90px">{{ _('Created At') }}</th>
                {% if current_user.is_admin %}
                    <th class="min-width-100px"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in inactive_users %}
                <tr>
                    <td class="word-break-all">
                        <a title="{{ _('View') }}" href="{{ url_for('user.view', user_id=user.id) }}">
                            {{ user.email }}
                        </a>
                    </td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.permissions | length }}</td>
                    <td class="{{ "bool-value-{}".format(user.is_admin).lower() }}">{{ _('Yes') if user.is_admin else _('No') }}</td>
                    <td>{{ '-' if not user.last_login_at else user.last_login_at.strftime('%y-%m-%d') }}</td>
                    <td>{{ user.created_at.strftime('%y-%m-%d') }}</td>
                    {% if current_user.is_admin %}
                        <td class="actions">
                            <a class="btn btn-xs btn-default" title="{{ _('Inspect') }}"
                               href="{{ url_for('user.inspect', user_id=user.id) }}">
                                <i class="fa fa-user"></i>
                            </a>
                            <a class="btn btn-xs btn-default" title="{{ _('Edit Details') }}"
                               href="{{ url_for('user.administer', user_id=user.id) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-xs btn-default" title="{{ _('Change Password') }}"
                               href="{{ url_for('user.change_password', user_id=user.id) }}">
                                <i class="fa fa-key"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
