<!-- user/profile.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                {{ _('Welcome') }}
                <a href="{{ url_for('user.view', user_id=current_user.id) }}">
                    {{ current_user.full_name }}
                </a>
            </h1>
        </div>
        <div class="panel-body">
            <p><strong>{{ _('This is your personal profile page.') }}</strong></p>

            {% if current_user.email != 'test@kb.se' %}
                <a class="btn btn-default"
                   href="{{ url_for('user.edit_details', user_id=current_user.id)
                            + '?next=' + url_for('user.profile') }}">{{ _('Edit Display Name') }}</a>
                <a class="btn btn-default"
                   href="{{ url_for('user.change_password', user_id=current_user.id)
                            + '?next=' + url_for('user.profile')}}">{{ _('Change Password') }}</a>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ _('Information About GDPR') }}</h3>
        </div>
        <div class="panel-body">
            <p>
                {{ _('The National Library of Sweden processes personal data in accordance '
                     'with the European Union General Data Protection Regulation (2018), GDRP, '
                     '<a href="https://www.kb.se/omoss/dataskydd.html">find out more here</a>. '
                     'This is how the National Library of Sweden processes your personal data '
                     '<a href="https://www.kb.se/omoss/dataskydd.html#XLkat">while using '
                     'login.libris.kb.se</a>.') }}
            </p>
        </div>
    </div>

    {% if current_user.email != 'test@kb.se' %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ _('Information About Your Permissions') }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ _('If you are missing a permission or any of the permissions below are '
                        'incorrect, please contact the cataloging admin for that collection.') }}</p>
                <p>{{ _('You can find the collection administrator contact information by following the collection link '
                        'below or by going to <a href="%(collections_link)s">the Collections list view</a> and selecting '
                        'the collection there.', collections_link=url_for('collection.home')) }}</p>
                <p>{{ _('For any other questions or concerns, please contact customer service at '
                        '<a href="mailto:libris@kb.se">libris@kb.se</a>.') }}</p>
            </div>
        </div>
    {% endif %}

    {% if current_user.is_cataloging_admin %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3>{{ _('Your Responsibilities as Cataloging Admin') }}</h3>
            </div>
            <div class="panel-body">
                <p>
                    {{ _('You are a cataloging admin in Libris Login. This means that you are '
                         'responsible for managing other users\' access to your collections. '
                         'You manage permissions by going to your collection\'s detail view and '
                         'use the add/edit/delete buttons.') }}
                </p>
                <p>
                    {{ _('When attempting to grant a new permission, you might find that '
                         'the intended user does not exist. In this event, you may register '
                         'the user account by following this link:') }}
                    <a href="{{ url_for('user.register') }}">{{ _('New User') }}</a>
                </p>
            </div>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ _('Your Permissions') }}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ _('Code') }}</th>
                    <th>{{ _('Friendly Name') }}</th>
                    <th class="hidden-xs">{{ _('Registrant') }}</th>
                    <th class="hidden-xs">{{ _('Cataloger') }}</th>
                    <th class="hidden-xs">{{ _('Cataloging Admin') }}</th>
                    {% if current_user.can_see_global_registrant %}
                        <th class="hidden-xs">{{ _('Global Registrant') }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for permission in user.permissions if permission.collection.is_active %}
                    <tr>
                        <td>
                            <a title="{{ _('View') }}"
                               href="{{ url_for('collection.view', collection_code=permission.collection.code) }}">
                                {{ permission.collection.code }}
                            </a>
                        </td>
                        <td>{{ permission.collection.friendly_name }}</td>
                        <td class="hidden-xs {{ "bool-value-{}".format(permission.registrant).lower() }}">
                            {{ _('Yes') if permission.registrant else _('No') }}
                        </td>
                        <td class="hidden-xs {{ "bool-value-{}".format(permission.cataloger).lower() }}">
                            {{ _('Yes') if permission.cataloger else _('No') }}
                        </td>
                        <td class="hidden-xs {{ "bool-value-{}".format(permission.cataloging_admin).lower() }}">
                            {{ _('Yes') if permission.cataloging_admin else _('No') }}
                        </td>
                        {% if current_user.can_see_global_registrant %}
                            <td class="hidden-xs {{ "bool-value-{}".format(permission.global_registrant).lower() }}">
                                {{ _('Yes') if permission.global_registrant else _('No') }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
