<!-- user/profile.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ _('Welcome') }} {{ current_user.full_name }}</h1>
        </div>
        <div class="panel-body">
            <p><strong>{{ _('This is your personal profile page.') }}</strong></p>

            {% if current_user.email != 'test@kb.se' %}
                <a class="btn btn-default"
                   href="{{ url_for('user.edit_details', user_id=current_user.id) }}">
                    {{ _('Edit Display Name') }}
                </a>
                <a class="btn btn-default"
                   href="{{ url_for('user.change_password', user_id=current_user.id) }}">
                    {{ _('Change Password') }}
                </a>
            {% endif %}
        </div>
    </div>

    {% if current_user.email != 'test@kb.se' %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3>{{ _('Important') }}!</h3>
            </div>
            <div class="panel-body">
                <p>{{ _('Contact customer service at <a href="mailto:libris@kb.se">libris@kb.se</a> \
if your permissions are not correctly listed below.') }}</p>
            </div>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ _('Permissions (Active Collections Only)') }}</h3>
            <p>{{ _('Note: <em>Cataloguing Admin</em> is a new privilege that, in the near future, \
will allow you to create new user accounts and grant registrant/cataloger privileges to others. ') }}</p>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ _('Code') }}</th>
                    <th>{{ _('Friendly Name') }}</th>
                    {% if user.is_admin or user.email == 'test@kb.se' %}
                        <th>{{ _('Registrant') }}</th>
                        <th>{{ _('Cataloger') }}</th>
                    {% endif %}
                    <th>{{ _('Cataloguing Administrator') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in user.permissions if permission.collection.is_active %}
                    <tr>
                        <td>
                            <a title="{{ _('View') }}"
                               href="{{ url_for('collection.view', collection_code=permission.collection.code) }}">
                                {{ permission.collection.code }}
                            </a>
                        </td>
                        <td>{{ permission.collection.friendly_name }}</td>
                        {% if user.is_admin or user.email == 'test@kb.se' %}
                            <td class="{{ "bool-value-{}".format(permission.registrant).lower() }}">
                                {{ _('Yes') if permission.registrant else _('No') }}
                            </td>
                            <td class="{{ "bool-value-{}".format(permission.cataloger).lower() }}">
                                {{ _('Yes') if permission.cataloger else _('No') }}
                            </td>
                        {% endif %}
                        <td class="{{ "bool-value-{}".format(permission.cataloging_admin).lower() }}">
                            {{ _('Yes') if permission.cataloging_admin else _('No') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
