<!-- user/register.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Register New User') }}</h1>
        <br/>
        <form id="registerUserForm" class="form form-register" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{ register_user_form.username.label }}
                {{ register_user_form.username(placeholder=_('user@example.com'), class_="form-control") }}
            </div>
            <div class="form-group">
                {{ register_user_form.full_name.label }}
                {{ register_user_form.full_name(placeholder=_('First Last'), class_="form-control") }}
            </div>
            <div class="form-group">
                {{ register_user_form.send_password_reset_email(checked=True) }}
                {{ register_user_form.send_password_reset_email.label }}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Register"></p>
        </form>
    </div>
{% endblock %}
