<!-- permissions/edit.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Edit Existing Permission') }}</h1>
        <br/>
        <form id="editPermissionForm" autocomplete="off" class="form form-edit" method="POST"
              action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{ edit_permission_form.user_id.label }}
                {{ edit_permission_form.user_id(class_="form-control", autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ edit_permission_form.collection_id.label }}
                {{ edit_permission_form.collection_id(class_="form-control", autocomplete="off") }}
            </div>
            <div class="form-group">
                <label class="checkbox">
                    {{ edit_permission_form.registrant() }}
                    {{ edit_permission_form.registrant.label }}
                </label>
                <label class="checkbox">
                    {{ edit_permission_form.cataloger() }}
                    {{ edit_permission_form.cataloger.label }}
                </label>
                <label class="checkbox">
                    {{ edit_permission_form.cataloging_admin() }}
                    {{ edit_permission_form.cataloging_admin.label }}
                </label>
            </div>
            <p><input class="btn btn-primary btn-submit" type="submit" value="{{ _('Save') }}"></p>
        </form>
    </div>
{% endblock %}
