<!-- permissions/edit.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Edit Existing Permission') }}</h1>
        <br>
        <form id="editPermissionForm" autocomplete="off" class="form form-edit" method="POST"
              action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ edit_permission_form.next_redirect(value=next_redirect_url or "") }}
            {{ edit_permission_form.permission_id() }}
            <div class="form-group">
                {{ edit_permission_form.user_id.label }}
                {{ edit_permission_form.user_id(class_="form-control", autocomplete="off") }}
                {{ _('Can\'t find the user you\'re looking for?') }}
                <a href="{{ url_for('user.register') + '?next=' + full_path_quoted }}">
                    {{ _('New User') }}
                </a>
            </div>
            <div class="form-group">
                {{ edit_permission_form.collection_id.label }}
                {{ edit_permission_form.collection_id(class_="form-control", autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ edit_permission_form.registrant() }}
                {{ edit_permission_form.registrant.label }}
                <br>
                {{ edit_permission_form.cataloger() }}
                {{ edit_permission_form.cataloger.label }}
                <br>
                {{ edit_permission_form.cataloging_admin() }}
                {{ edit_permission_form.cataloging_admin.label }}
                {% if edit_permission_form.global_registrant.flags.hidden %}
                  {% if edit_permission_form.global_registrant.data %}
                    {{ edit_permission_form.global_registrant(value = 'y') }}
                  {% else %}
                    {{ edit_permission_form.global_registrant(value = '') }}
                  {% endif %}
                {% else %}
                  <br>
                  {{ edit_permission_form.global_registrant() }}
                  {{ edit_permission_form.global_registrant.label }}
                {% endif %}
            </div>
            <p><input class="btn btn-primary btn-submit" type="submit" value="{{ _('Save') }}"></p>
        </form>
    </div>
{% endblock %}
