<!-- permissions/home.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>{{ _('Permissions') }}</h1>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{ _('Existing Permissions') }}</strong>
            <a class="btn btn-xs btn-primary pull-right"
               href="{{ url_for('permission.register') + '?next=' + url_for('permission.home') }}">
                {{ _('New Permission') }}
            </a>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-3">{{ _('User') }}</th>
                <th class="col-md-1">{{ _('Collection') }}</th>
                <th class="col-md-2 word-break-all">{{ _('Registrant') }}</th>
                <th class="col-md-2 word-break-all">{{ _('Cataloger') }}</th>
                <th class="col-md-2 word-break-all">{{ _('Cataloging Admin') }}</th>
                <th class="col-md-1 word-break-all">{{ _('Global Registrant') }}</th>
                <th class="col-md-1 min-width-90px">{{ _('Created At') }}</th>
                <th class="min-width-70px"></th>
            </tr>
            </thead>
            <tbody>
            {% for permission in permissions %}
                <tr>
                    <td class="word-break-all">
                        <a title="{{ _('View') }}"
                           href="{{ url_for('user.view', user_id=permission.user.id) }}">
                            {{ permission.user.email }}
                        </a>
                    </td>
                    <td>
                        <a title="{{ _('View') }}"
                           href="{{ url_for('collection.view', collection_code=permission.collection.code) }}">
                            {{ permission.collection.code }}
                        </a>
                    </td>
                    <td class="{{ "bool-value-{}".format(permission.registrant).lower() }}">{{ _('Yes') if permission.registrant else _('No') }}</td>
                    <td class="{{ "bool-value-{}".format(permission.cataloger).lower() }}">{{ _('Yes') if permission.cataloger else _('No') }}</td>
                    <td class="{{ "bool-value-{}".format(permission.cataloging_admin).lower() }}">{{ _('Yes') if permission.cataloging_admin else _('No') }}</td>
                    <td class="{{ "bool-value-{}".format(permission.global_registrant).lower() }}">{{ _('Yes') if permission.global_registrant else _('No') }}</td>
                    <td>{{ permission.created_at.strftime('%y-%m-%d') }}</td>
                    <td class="actions">
                        <a class="btn btn-xs btn-default" title="{{ _('Edit') }}"
                           href="{{ url_for('permission.edit', permission_id=permission.id)
                                            + '?next=' + url_for('permission.home') }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-xs btn-danger" title="{{ _('Delete Permission') }}"
                           href="{{ url_for('permission.delete', permission_id=permission.id)
                                            + '?next=' + url_for('permission.home') }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
