<!-- permissions/home.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>{{ _('Permissions') }}</h1>
    <br/>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <strong>{{ _('Existing Permissions') }}</strong>
            <a class="btn btn-xs btn-primary pull-right"
               href="{{ url_for('permission.register') }}">{{ _('New Permission') }}</a>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-3">{{ _('User') }}</th>
                <th class="col-md-1">{{ _('Collection') }}</th>
                <th class="col-md-2 word-break-all">{{ _('Registrant') }}</th>
                <th class="col-md-2 word-break-all">{{ _('Cataloger') }}</th>
                <th class="col-md-2 word-break-all">{{ _('Cataloging Admin') }}</th>
                <th class="col-md-1 min-width-90px">{{ _('Created At') }}</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in permissions_list | sort(attribute='user.email') %}
                <tr>
                    <td class="word-break-all">{{ item.user.email }}</td>
                    <td>{{ item.collection.code }}</td>
                    <td class="{{ "bool-value-{}".format(item.registrant).lower() }}">{{ _('Yes') if item.registrant else _('No') }}</td>
                    <td class="{{ "bool-value-{}".format(item.cataloger).lower() }}">{{ _('Yes') if item.cataloger else _('No') }}</td>
                    <td class="{{ "bool-value-{}".format(item.cataloging_admin).lower() }}">{{ _('Yes') if item.cataloging_admin else _('No') }}</td>
                    <td>{{ item.created_at.strftime('%y-%m-%d') }}</td>
                    <td class="actions">
                        <a class="btn btn-xs btn-default" title="{{ _('Edit') }}"
                           href="{{ url_for('permission.edit', permission_id=item.id) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
