<!-- permissions/register.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>{{ _('Register New Permission') }}</h1>
        <br>
        <form id="registerPermissionForm" autocomplete="off" class="form form-register"
              method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ register_permission_form.next_redirect(value=next_redirect_url or "") }}
            <div class="form-group">
                {{ register_permission_form.user_id.label }}
                {{ register_permission_form.user_id(placeholder="123", class_="form-control", autocomplete="off") }}
                {{ _('Can\'t find the user you\'re looking for?') }}
                <a href="{{ url_for('user.register') + '?next=' + full_path_quoted }}">
                    {{ _('New User') }}
                </a>
            </div>
            <div class="form-group">
                {{ register_permission_form.collection_id.label }}
                {{ register_permission_form.collection_id(placeholder="ABC", class_="form-control", autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ register_permission_form.registrant() }}
                {{ register_permission_form.registrant.label }}
                <br>
                {{ register_permission_form.cataloger() }}
                {{ register_permission_form.cataloger.label }}
                <br>
                {{ register_permission_form.cataloging_admin() }}
                {{ register_permission_form.cataloging_admin.label }}
                {% if register_permission_form.global_registrant %}
                    <br>
                    {{ register_permission_form.global_registrant() }}
                    {{ register_permission_form.global_registrant.label }}
                {% endif %}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="{{ _('Register') }}">
            </p>
        </form>
    </div>
{% endblock %}
